@import '../../styles/variables.scss';

.adjust {
  margin-left: 15%;
}

.formContainer {
  max-width: 70em;
  width: 100%;
  margin: 4em auto 2em auto;
  background: #44663550;
  padding: 3.5em;
  border-radius: 0.2em;
}

.formGroup {
  margin: 0 auto 2em auto;
}

.formSubTitle {
  font-family: $montserrat;
  font-weight: 500;
  display: block;
  font-size: 1.4em;
  align-self: center;
  margin-bottom: 4%;
}

.formLabel {
  font-family: $opensans;
  font-weight: 400;
  display: block;
  font-size: 1.2em;
  align-self: center;
  margin-bottom: 1%;
}

.formField {
  width: 100%;
  border: 1px solid #F0F0F0;
  border-radius: 0.2em;
  height: 2.5em;
  padding: 0.25em 0.75em;
  font-size: inherit;
  color: #777;
}

.formButtons {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
}

.buttonSave {
  max-width: 8em;
  width: 100%;
  background-color: $darkgreen;
  border: none;
  color: white;
  padding: 0.6em 0.1em;
  border-radius: 0.2em;
  margin: 0;
  cursor: pointer;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.buttonCancel {
  max-width: 8em;
  width: 100%;
  background-color: $red;
  border: none;
  color: white;
  padding: 0.6em 0.1em;
  border-radius: 0.2em;
  margin: 0;
  cursor: pointer;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}