@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');

//Fontes:
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

//Cores:
$light: #F0F0F0;
$dark: #0F0F0F;

$darkergreen: #182520;
$darkgreen: #3D553D;
$green: #0B8118;
$lightgreen: #8BD394;
$lightergreen: #CAE5C2;
//$lightergreen: #D7E6D0;

$red: #B12F2F;
$yellow: #F1C216;