@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');

//Fontes:
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

//Cores:
$light: #EAE5DF;

$green: #1d241d;
$lightgreen: #3a883a;

$red: #b12f2f;