@import '../../styles/variables.scss';

.bigButton {
  background-color: $green;
  border: none;
  color: white;
  font-size: 30px;
  padding: 60px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}