@import '../../styles/variables.scss';

.bigButton {
  background-color: $green;
  border: none;
  color: white;
  font-size: 30px;
  padding: 5em 5em;
  border-radius: 5px;
  margin: 1em 0;
  cursor: pointer;
}