@import '../../styles/variables.scss';

.navBar {
  position: sticky;
  top: 0;
  background-color: $darkergreen;
}

.navContainer {
  display: flex;
}

.logo {
  display: flex;
  width: 40vw;
  text-decoration: none;
}

.logoImage {
  max-width: 12vw;
  max-height: 6vh;
  margin: 2% 2% 2% 7%;
  align-self: center;
}

.logoText {
  font-family: $montserrat;
  font-weight: 700;
  font-size: 1.6em;
  margin-left: 2%;
  text-align: left;
  align-self: center;
  color: $light;
}

.blankspace {
  width: 25vw;
}
