@import '../../styles/variables.scss';

.sideBar {
  width: 15%;
  height: 100%;
  position: fixed;
  background-color: $darkgreen;
  overflow: auto;
  font-family: $opensans;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  row-gap: 0.18em;
}

.containerLi {
  background-color: $green;
  width: 100%;
  border: none;
  padding: 2%;
  box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
}

.containerTab {
  background-color: transparent;
  color: $light;
  border: none;
  text-decoration: none;
  font-family: $opensans;
  font-size: 1.2em;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
}

.dropDown {
  //display: none;
  margin-top: -0.2em;
}

.dropDownLi {
  list-style: none;
  margin: 3% 0 3% 8%;
}

.tabItem {
  color: $light;
  border: none;
  text-decoration: none;
  font-family: $opensans;
  font-weight: 500;
}